#list{
    font-size: 24px;
}
.para{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    -webkit-text-stroke: 0.25px black;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    -webkit-text-stroke: 0.5px black;
}
body{
    background-image: url("spider.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    color:rgb(255, 0, 0);
}
h3{
    color: rgb(255, 8, 185);
}
#a1{
    background-color: #ffffff;
}